a {
  gap: 5px;
  margin: 5px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 150px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

#hotelsDiv {
  display: flex;
  flex-wrap: wrap;
}