a {
  gap: 5px;
  margin: 5px;
  width: 200px;
  display: flex;
  flex-direction: row;
  
}

img {
  border-radius: 10px;
  width: 200px;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
}

.resDiv {
  margin: 15px;
}

#reservationsDiv {
  display: flex;
  flex-wrap: wrap;
}